.preview {
  display: flex;
}
.preview-list {
  width: 260px;
  height: calc(100vh - 68px);
  overflow: auto;
}
.preview-detail {
  width: calc(100% - 260px);
  color: white;
  overflow: auto;
}

.preview-content{
  height: calc(100vh - 68px);
  overflow: auto;
  display: flex;
  background-color: #525659;
  justify-content: center;
}

.color-white{
  color: white !important;
}