.preview {
  display: flex;
}
.preview-list {
  width: 260px;
  height: 100vh;
  overflow: auto;
}
.preview-detail {
  width: calc(100% - 260px);
  height: 100vh;
  color: white;
  .preview-content{
    display: flex;
    background-color: #525659;
    justify-content: center;
  }
  .page-infor{
    margin: 0;
  }
}
.preview-header{
  color: white;
  height: 60px;
  background-color: #323639;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.preview-content{
  height: calc(100vh - 60px);
  overflow: auto;
}

.color-white{
  color: white !important;
}