.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 69px);
  width: 100vw;
}
.setting-content {
  width: 400px;
  &__row {
    margin-bottom: 20px;
  }
}
