.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App-main {
  width: calc(100vw - 0px);
  height: calc(100vh - 68px);
  overflow: hidden auto;
}
.App-sidebar {
  display: none;
  width: 260px;
  height: calc(100vh - 68px);
  overflow: hidden auto;
  background-color: rgb(35, 48, 68);
}
