.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.App-main {
  width: calc(100vw - 280px);
  height: 100vh;
  overflow: hidden auto;
}
