<doctype html>
<html>
<head>
  <meta charset="utf-8">
  <style type="text/css">
    body{ font: 16px/23px Arial, Helvetica, sans-serif }
    .wrapper{ padding: 20px }
    p{ font-size: 16px; margin-bottom: 10px }
    .unit{ font-size: 14px; text-align: right; }
    table{ width: 100%; border-top: 1px dotted #999; border-left: 1px dotted #999; }
    table td{ padding: 8px 10px; border-right: 1px dotted #999; border-bottom: 1px dotted #999; }
    table td:last-child{ width: 35%; }
  </style>
</head>
<body>
  <div class="wrapper">
    <p><em style="font-size: 18px; line-height: 26px">Dear WATA Soldier!</em>
      <br/>Please check your Payslip as below:</p>
    <br/>
    <h2>SALARY PAYMENT SHEET OF {{ currentTime.monthYear }}</h2>
    <p class="unit">Unit: VND</p>
    <table border="0" padding="0" cellspacing="0">
      <tbody>
        <tr>
          <td colspan="2">Fullname</td>
          <td align="right">{{ person.fullName }}</td>
        </tr>
        <tr>
          <td colspan="2">Working days (Include holidays) (1)</td>
          <td align="right">{{ person.workingDays }}</td>
        </tr>
        <tr>
          <td colspan="2">Leave days (2)</td>
          <td align="right">{{ person.leaveDays }}</td>
        </tr>
        <tr>
          <td colspan="2">Total working days (3) = (1) + (2)</td>
          <td align="right">{{ person.totalWorkingDays }}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Income corresponding to actual working days (4)</strong></td>
          <td align="right">{{ person.grossSalary }}</td>
        </tr>
        <tr>
          <td colspan="2">Responsibility allowance (5)</td>
          <td align="right">{{ person.responsibilityAllowance }}</td>
        </tr>
        <tr>
          <td colspan="2">Parking allowance (6)</td>
          <td align="right">{{ person.parkingAllowance }}</td>
        </tr>
        <tr>
          <td colspan="2">Bonus (7)</td>
          <td align="right">{{ person.bonus }}</td>
        </tr>
        <tr>
          <td colspan="2">Advance (8)</td>
          <td align="right">{{ person.advance }}</td>
        </tr>
        <tr>
          <td colspan="2">Other (9)</td>
          <td align="right">{{ person.otherAllowance }}</td>
        </tr>
        <tr>
          <td colspan="2">Overtime pay (10)</td>
          <td align="right">{{ person.overtimePay }}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Total salary (11) = (4) + (5) + (6) + (7) + (8) + (9) + (10)</strong></td>
          <td align="right">{{ person.totalSalary }}</td>
        </tr>
        <tr>
          <td colspan="2">Insurance: Social, health, unemployment (10.5% x 4.729.400&#8363;) (12)</td>
          <td align="right">{{ person.insurance }}</td>
        </tr>
        <tr>
          <td colspan="2">Personal Income Tax (13)</td>
          <td align="right">{{ person.incomeTax }}</td>
        </tr>
        <tr>
          <td colspan="2">Deduct (14)</td>
          <td align="right">{{ person.deduct }}</td>
        </tr>
        <tr>
          <td colspan="2"><strong>Net Amount (15) = (11) - (12) - (13) - (14)</strong></td>
          <td align="right">{{ person.netAmount }}</td>
        </tr>
        <tr>
          <td rowspan="2"><strong>Annual Leave</strong></td>
          <td>{{ currentTime.monthString }}</td>
          <td align="right">{{ person.annualLeave }}</td>
        </tr>
        <tr>
          <td>Leave day <em>(Remaining)</em></td>
          <td align="right">{{ person.remainingLeave }}</td>
        </tr>
      </tbody>
    </table
  </div>
  <p><strong><em>Important Note:</em></strong> This pay-slip shall be considered as the agreed and final payslip if there is no question after 3 days from the sending date.</p>
  <br/>
  <p>Regards,</p>
</body>
</html>