<doctype html>
<html>
<head>
  <meta charset="utf-8">
  <style type="text/css">
    body{ font: 14px Arial, Helvetica, sans-serif }
  </style>
</head>
<body>
  <p><em>Dear WATA Soldier!</em></p>

  <p>Please check your Pay-slip in the attached file with password is: {{ person.password }}</p>
  <br/>
  <p><strong style="font-style: italic">Important Note:</strong> This pay-slip shall be considered as the agreed and final pay-slip if there is no question after 3 days from the sending date.</p>

  <p>Regards,</p>
</body>
</html>